<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="MailToSendFP" value="Mail to send\" />
    <add key="InvalidMailFP" value="Invalid mail\" />
    <add key="OurMailAddress" value="test50someemail@gmail.com" />
    <add key="OurMailPassword" value="Testtest50" />
    <add key="TargetMailAddress" value="test51someemail@gmail.com" />
    <add key="NotifyFilter" value="51" />
    <add key="Filter" value= "*.txt" />
    <add key="Port" value="587" />
    <add key="SMTPDeliveryMethod" value="0" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="EnableSSL" value='true' />
  </appSettings>
</configuration>
<!--<new SmtpHandler("smtp.gmail.com", 587, SmtpDeliveryMethod.Network, new NetworkCredential("test50someemail@gmail.com", "Testtest50"), true);>-->